p {
    font-size: 50px;
    color: red;
    font-style: italic;
    text-align: center;
}
.container {
    background-image: url('img/back4.jpg');
    min-height: 100vh;
    padding: 20px;
    display: flex;             
    flex-wrap: wrap;           
    justify-content: center;   
    align-content: center;     
    gap: 10px;                 
}
.photo {
    height: 400px; 
    width: 400px;
    display: inline-block; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(229, 4, 4, 0.4); 
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}